@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p class="text-center" style="margin-top:50px;font-size:18px;">Merhaba @User.Identity.Name ,</p>
<p class="text-center">Yönetici işlemlerinizi solda bulunan menü başlıkları üzerinden gerçekleştirebilirsiniz.</p>